.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}








// {
// // header {
// //   display: flex;
// //   background-color: var(--black-700);
// //   color: var(--white);
// //   margin: auto;
// //   width: 100%;
// // }
// // header nav {
// //   display: flex;
// //   align-items: center;
// // }
// // .logo {
// //   max-width: 100px;
// // }
// // .header__item {
// //   margin: 0.5em 1em;
// //   font-size: 14px;
// //   font-weight: 400;
// // }
// // .header__item strong {
// //   display: block;
// // }
// // .header__search {
// //   width: 600px;
// //   margin: 0.5em 1em;
// // }
// // @media (max-width: 1150px) {
// //   .header__search {
// //     width: 400px;
// //   }
// // }
// // @media (max-width: 600px) {
// //     .header__search {
// //       display: none;
// //     }
// //   }
// // .btn-search {
// //   background-color: var(--orange-300);
// //   padding-inline: 1em;
// //   border: none;
// //   border-radius: 4px;
// // }
// // .btn-search .fa {
// //   font-size: 22px;
// //   color: rgb(53, 51, 51);
// // }
// // .header__search input:focus-within {
// //   border: 2px solid var(--orange-700);
// // }
// // .header--cart {
// //   color: inherit;
// //   text-decoration: none;
// //   position: relative;
// // }
// // .header--cart small {
// //   position: absolute;
// //   color: var(--black-700);
// //   left: 30%;
// //   top: 10%;
// //   background-color: var(--orange-700);
// //   padding: 0px 8px;
// //   border-radius: 50%;
// // }
// // .header--cart strong {
// //   position: absolute;
// //   left: 100%;
// //   top: 50%;
// // }
// }
