<header
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="../../../../assets/Images/logo.png" style="max-height: 70px;" alt="logo">
    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2 text-dark" href="#">Home</a>
        <a class="p-2 text-dark" href="#">Shop</a>
        <a class="p-2 text-dark" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary me-2" href="#">Login</a>
        <a class="btn btn-outline-secondary me-3" href="#">Sign up</a>
    </div>
</header>
















<!-- <header class="container-fluid">
    <nav class="">
        <a class="header__item header--logo ">
            <img class="logo img-fluid" src="../../../../assets/Images/logo.png" alt="logo">
        </a>
        <p class="header__item header--location">
            <small> Deliver to </small>
            <strong class="d-flex align-items">
                <i class="fa fa-map-marker me-1"></i>
                Palestine</strong>
        </p>
        <div class=" header__search input-group">
            <span class="input-group-text dropdown-toggle text-secondary">All</span>
            <input type="text" class="form-control">
            <button class="btn-search"><i class="fa fa-search fa"></i></button>
        </div>
        <p class="header__item ">English</p>
        <p class="header__item ">Hello, name <strong>Account</strong></p>
        <p class="header__item ">Returns <strong>& Orders</strong></p>
        <a class="header__item header--cart d-flex">
            <i class="fa fa-shopping-cart fa-3x"></i>
            <small class="cart-count">5</small>
            <strong>Cart</strong>
        </a>
    </nav>
</header> -->